body {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to bottom, #00467F, #A5CC82);
  /* background: linear-gradient(to top, #BBD2C5, #536976, #292E49); */
  /* background: linear-gradient(to bottom, #29515C, #0F1919); */

}

.container {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #343434
}

.container h1 {
  font-size: 160px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 20px;
  background: url(../images/404_bg.jpg) center no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.container a {
  text-decoration: none;
  background: #e55039aa;
  color: #fff;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.4s;
}

.container a:hover {
  background: #e55039;
}