<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
    <display-name>MyProject</display-name>
    <!-- 设置访问系统时没有指定访问页面时默认的返回页面 -->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>MyFilter</filter-name>
        <filter-class>com.riotian.util.LoginFilter</filter-class>
    </filter>
    <!--  设置过滤器拦截的范围，/*表示拦截所有请求 -->
    <filter-mapping>
        <filter-name>MyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.riotian.servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/AuthServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.riotian.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NoticeServlet</servlet-name>
        <servlet-class>com.riotian.servlet.NoticeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NoticeServlet</servlet-name>
        <url-pattern>/NoticeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>com.riotian.servlet.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DormitoryServlet</servlet-name>
        <servlet-class>com.riotian.servlet.DormitoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DormitoryServlet</servlet-name>
        <url-pattern>/DormitoryServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdministratorServlet</servlet-name>
        <servlet-class>com.riotian.servlet.AdministratorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdministratorServlet</servlet-name>
        <url-pattern>/AdministratorServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RepairServlet</servlet-name>
        <servlet-class>com.riotian.servlet.RepairServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RepairServlet</servlet-name>
        <url-pattern>/RepairServlet</url-pattern>
    </servlet-mapping>
</web-app>
